.photo{
    width: 300px;
    clip-path: circle();  
    position: absolute;
    top: 0px;
    left: 20px;
}
.about{
    display: flex;
    height: 85vh;
    width: 100%;
    font-size: larger;
    background-color: #272533;
    color: white;
   
}
.about-write{
    position: relative;
    top: 40px;
    left: 400px;
    border: 0.5px;
    border-radius: 20px;
    width: 900px;
    height: 400px;
    text-align: left;
}
.Question{
    font-size: x-large;
}
.aboutex{
    color:#C6C6C6
}