
.logo a{
        color: inherit;
        margin-right: 20px;
        
    }
.logo{
    display: flex;
    justify-content: center;
    min-height: 4vh;
    background-color: #121212;
    color: white;
    
    
}
.icon{
    margin-right: 10px;
    
}