.main{
    min-height:85vh;
    width: 100%;
    font-family: 'Sora', sans-serif;
   
    }
    .main h2{
        position: relative;
        top: 40px;
        text-align: center;
       
    }
    .main p{
        position: relative;
        top: 50px;
        text-align: center;
    
    }
    .resume li{ 
        border-radius: 25px;
        border: 2px solid black;
        width: 150px;
        height: 40px;
        padding: 5px;
        position: relative;
        top: 180px;
        left: 40%;
        text-align: center;
        background-color: #8685EF;
       
    }

    
   
  