
/*----------------Navbar CSS-------------------*/
/*----------------*Home CSS*-------------------*/
/*----------------*Project CSS*-------------------*/
/*----------------*About CSS*-------------------*/
/*----------------*Contact CSS*-------------------*/
/*----------------*Footer CSS*-------------------*/
#dark{
    background-color: #272533;
    color: white;
}
#light{
    background-color: white;
    color: black;
}


