@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.light{
 
  background-color:#fff;
  transition: 1s
}
.dark{
  
  background-color: #121212;
  transition: 1s
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Sora:wght@800&display=swap');
/*  for darkmode*/
#primary_dark{
  color: #fff;
}

#second_dark{
  color:rgba(255, 255,255,0.7)
}

#button_dark{
  color: #fff;
  background-color: rgba(255,255,255,0.16);

  
    border-radius: 9px;
    border-style: none;
    box-sizing: border-box;
    
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    touch-action: manipulation;
}
#button_dark:hover{
  background-color: rgba(255,255,255,0.08);
}

#icons_dark{
  color: #fff;
}
#primaryn_dark{
  color: #fff;
  touch-action: manipulation;
  
}

  #primaryn_dark:hover{
    background-color: rgba(255,255,255,0.16);
    transition: 600ms;
  }

  
/*  for lightmode*/




#primary_light{
  color: rgba(0, 0, 0, 87);
}

#second_light{
  color:rgba(0, 0, 0, 6)
}
#button_light{
    background-color: black;
    border-radius: 9px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    touch-action: manipulation;
   
  }
  
  #button_light:hover,
  #button_light:focus {
    background-color:#222;
  }
  
  #primaryn_light{
    color: #121212;
    touch-action: manipulation;
  
  }
  #primaryn_light:hover{
    color: #fff;
    background-color: #121212;
    
  }
 


#icons_light{
  color: rgba(0,0,0,0.54);
}


::-webkit-scrollbar {
  width: 5px;
  
}

 ::-webkit-scrollbar-track {
  background: black;
}


.dark ::-webkit-scrollbar-track {
  background: #333333;
}



/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(rgb(37 99 235), rgb(37 99 235));
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .5s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent), linear-gradient(rgb(37 99 235), rgb(37 99 235))
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%
}

#wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}