@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.light{
  color: black;
  background-color: white;
}
.dark{
  color: white;
  background-color: black;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Sora:wght@800&display=swap');
